<a href="https://colab.research.google.com/github/Suddhaswatta/Missing-Data-Imputation/blob/main/Titanic_Missing_Explanatory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
from google.colab import files
import pandas as pd
import io
import matplotlib.pyplot as plt
import numpy as np

In [2]:
uploaded = files.upload()

Saving Titanic_train.csv to Titanic_train.csv

In [10]:
df = pd.read_csv(io.StringIO(uploaded['Titanic_train.csv'].decode('utf-8')))

In [11]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [13]:
df.isnull().mean()*100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64


###If the percentage of Missing Data is less than 5% then data is **Missing At Random**<br>
###If the percentage of Missing Data is greater than 5% then samples are **Not Missing At Random**

In [52]:
nmnar = [var for var in df.columns if df[var].isnull().mean()*100>5]
nmar

['Age', 'Cabin']

###Above Case we can see columns Age , Cabin data are **Not Missing At Random**.<br>
###**Missing Data Not at Random** can be a sign that data of dead passengers could be missing

In [35]:
df[nmar+['Survived']].head()

    Age Cabin  Survived
0  22.0   NaN         0
1  38.0   C85         1
2  26.0   NaN         1
3  35.0  C123         1
4  35.0   NaN         0

In [23]:
mar = [var for var in df.columns if df[var].isnull().mean()*100<5 and df[var].isnull().mean()*100>0]
mar

['Embarked']

###Above Case we can columns Embarked Missing At Random.<br>

#Conclusion :

###Age is Missing for 20% of the data so the data is Not Missing At Random

Suitable Options for Age since it is a numerical variable :

* Mean - Median Imputation with missing indicator (without missing indicator would have been okay if data was **Missing at Random**)
* Replacing missing value with constant value(Arbritary , End of Tail Imputation) 

###Cabin is Missing for 77% of the data so the data is Not Missing At Random

Suitable Options for Cabin since it is a categorical variable :

* Mode-Imputation(only valid for **Data Missing at Random**).
* Replacing missing value with constant value **"Missing"**

###Embarked is Missing for 0.22% of the data so the data is  Missing At Random

Suitable Options for Cabin since it is a categorical variable :

* Mode-Imputation.

In [53]:
df_missing = df[mar+nmar]

In [54]:
df_missing.head()

  Embarked   Age Cabin
0        S  22.0   NaN
1        C  38.0   C85
2        S  26.0   NaN
3        S  35.0  C123
4        S  35.0   NaN

In [57]:
missing_num_var=[var for var in df_missing.columns if np.dtype(df[var])!='O']

In [58]:
missing_cat_var=[var for var in df_missing.columns if np.dtype(df[var])=='O']